# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\etien\OneDrive - Universität Basel\Documents\Math\7.HS20\Databases\DB_Project\group-24\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
